@import 'primeicons/primeicons.css';
@import './base.css';
.btn{
  background-color: rgb(154, 166, 167);
  border: none;
  border-radius: 30%;
  cursor: pointer;
  padding: 5px;
}
.btn:hover{
  background-color: rgb(192, 207, 208);
}
a{
  text-decoration: none;
  color: black;
}